h1{
  width: 100%;
  margin: 1rem auto 1rem auto !important;
  padding: 15px;
  height: min-content;
  background-color: rgba(135, 206, 250, 0.27);
  border-radius: 15px;
  text-align: center;
  color: darkblue;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.6);
  font-family:Tahoma, sans-serif;
}

p{
  width: max-content;
  height: min-content;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.511);
  color: white;
  font-size: 24px;
  margin: auto;
  padding: 15px;
  border-radius:10px ;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.6);
  
}

.buton Button{
  margin-left:1% ;
  width: 32%;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
}

.center{
  margin-top: 1rem;
  text-align: center;
}